<footer class="py-6 bg-secondary border-t-2 border-color  flex flex-col items-center justify-center">
	<p class="text-center ">
		©2024 Yoan Ménard. All rights reserved.
	</p>
	<p>
		Icone by
		<a href="https://github.com/iconify/iconify/blob/main/license.txt" class="text-blue" target="_blank">Iconify</a>
	</p>
</footer>
