<header class="bg-secondary border-color border-b-[1px]  w-full h-10 fixed">
	<div class="flex justify-between items-center mx-auto px-6  h-full  text-white max-w-[1920px] ">
		<nav>
			<ul class="flex gap-4">
				<li>
					<a class="btn-primary" href="#">
						<span class="iconify size-4 max-md:size-6" data-icon="mdi-information-outline"></span>
						<span class="max-md:hidden">About</span>
					</a>
				</li>
				<li>
					<a class="btn-primary" href="#">
						<span class="iconify size-4 max-md:size-6" data-icon="mdi-book-open-blank-variant-outline"></span>
						<span class="max-md:hidden">Projects</span>
					</a>
				</li>
				<li>
					<a class="btn-primary" href="#">
						<span class="iconify size-4 max-md:size-6" data-icon="mdi-post"></span>
						<span class="max-md:hidden">Blog</span>
					</a>
				</li>
			</li4<li>
			<a class="btn-primary" href="#">
				<span class="iconify  size-4 max-md:size-6" data-icon="mdi-email-outline"></span>
				<span class="max-md:hidden">Contact</span>
			</a>
		</li>
	</ul>
	<div class="menu-list__marker bg-blue w-9 h-[1px] absolute bottom-0 " id="marker-menu"></div>

</nav>

<button class="rounded border-[1px] p-[2px] px-1 hover:border-solid border-white border-opacity-0  hover:border-opacity-[0.3]">
	<span class="iconify size-6" data-icon="mdi-theme-light-dark"></span>
</button></div></header>
