/* Variables Globales */
:root {
  /* Couleurs de fond */
  --bg-color: #0d1117;
  --bg-color--secondary: #010409;
  --border-color: #30363d;
  --blue-color: #2276f5;
  --error-color: red;

  --body-bg: #0d1117;
  --body-max-width: 100%;
  --font-size-base: 15px;
  --font-family-base: "Roboto", sans-serif;

  /* text color */
  --text-color: white;
  --text-color-dark: white;

  /* button */
  --button-primary-bg: var(--blue-color);
  --button-primary-color: white;
  --button-secondary-bg: var(--bg-color--secondary);
  --button-secondary-color: white;
  --button-hover-color: white;
  --button-active-shadow: none;
  --button-shadow: none;
  --button-hover-shadow: none;

  /* Input and form */
  --form-control-bg: var(--bg-color);
  --form-input-border-color: var(--border-color);
  --form-input-shadow: transparent;
  --form-input-hover-border-color: var(--blue-color);
  --form-input-hover-shadow: var(--border-color);
  --form-input-error-shadow: red;
  --form-input-text-color: white;
  --form-label-color: white;

  /* SearchBar */
  --content-search-input-bg: transparent;

  /* Responsive header */
  --responsive-header-bg: var(--bg-color--secondary);
  --responsive-header-border-color: var(--border-color);
  --responsive-header-logo-color: white;

  /* Modal */
  --modal-bg: var(--bg-color);
  --modal-footer-bg: var(--bg-color);
  --modal-border-color: var(--border-color);

  /* Sidebar */
  --sidebar-bg: var(--bg-color--secondary);
  --sidebar-border-color: var(--border-color);
  --sidebar-logo-color: white;
  --sidebar-menu-color: white;
  --sidebar-menu-active-item-bg: var(--blue-color);
  --sidebar-menu-active-item-color: white;
  --sidebar-menu-active-item-color: white;
  --sidebar-menu-icon-color: white;
  --sidebar-menu-header-color: var(--border-color);

  /* Link */
  --link-color: var(--blue-color);
  --link-hover-color: var(--blue-color);

  /* Tab */
  --table-thead-color: rgba(255, 255, 255, 0.7);
  --table-cell-border-color: var(--border-color);
  --table-cell-color: white;
  --table-hover-cell-bg: rgba(0, 0, 0, 0.2);
  --table-selected-cell-bg: var(--bg-color--secondary);
  --table-thead-sorted-marker-color: var(--blue-color);
  --table-thead-sorted-color: var(--blue-color);

  /* Badges */
  --badge-secondary-bg: transparent;
  --badge-secondary-color: white;

  /* Dropdown */
  --dropdown-link-color: white;
  --dropdown-toggle-hover-border-color: var(--blue-color);
  --dropdown-toggle-bg: transparent;
  --dropdown-toggle-border-color: var(--border-color);
  --dropdown-link-hover-bg: var(--border-color);

  /* other */
  --resize-handler-hover-bg: var(--blue-color);
  --content-top-border-color: var(--border-color);
  --color-primary: var(--blue-color);
  --border-radius: 3px;

  /*  text editor */
  --form-type-text-editor-toolbar-bg: var(--blue-color);
  --form-type-text-editor-toolbar-button-color: white;
  --form-type-text-editor-toolbar-button-hover-color: rgba(0, 0, 0, 0.2);
  --form-type-text-editor-toolbar-button-active-bg: white;
  --form-type-text-editor-toolbar-button-active-color: var(--blue-color);
  --form-type-text-editor-content-pre-bg: white;
  --form-type-text-editor-content-pre-color: white;
  --form-type-text-editor-dialog-box-shadow: var(--border-color);
  --form-type-text-editor-dialog-bg: var(--bg-color--secondary);

  /* Autocomplete */
  --form-type-autocomplete-dropdown-bg: var(--bg-color);
  --form-type-autocomplete-dropdown-input-wrapper-bg: var(--bg-color);
  --form-type-autocomplete-dropdown-input-border-color: var(--border-color);
  --form-type-autocomplete-dropdown-active-item-bg: var(--blue-color);
  --form-type-autocomplete-multi-item-bg: var(--blue-color);
  --form-type-autocomplete-multi-item-border-color: var(--border-color);
  --form-type-collection-item-collapsed-hover-bg: var(--blue-color);

  /* accordion */
  --bs-accordion-btn-color: red;

  /* no result table */
  --datagrid-noresults-placeholder-bg: var(--border-color);
}

/* dropdown menu */
.dropdown-menu {
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

/* Toolbar Trix */
.trix-toolbar {
  background-color: transparent;
}

/* field color*/
.field-color .color-sample {
  box-shadow: none;
}

/* Boutons */
.btn:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover {
  opacity: 0.85;
  transition: all linear 0.2s;
}

.btn:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active {
  opacity: 0.7;
  transition: all linear 0.2s;
}

/* Error */
.has-error .CodeMirror,
.has-error .btn.input-file-container,
.has-error .ea-fileupload .input-group,
.has-error .ea-text-editor-wrapper,
.has-error .form-widget .form-select,
.has-error .form-widget input.form-control,
.has-error .form-widget textarea.form-control {
  border: 1px solid var(--error-color);
  opacity: 0.5;
}

/* Dropdown Select */
.ts-dropdown-content {
  color: white;
}

.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
  border-left: 1px solid var(--border-color);
  margin-left: 5px;
}
