@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lexend: "Lexend", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --bg-color: #0d1117;
  --bg-color--secondary: #010409;
  --border-color: #30363d;
  --blue-color: #2276f5;
  --font-color: #e5e5e5;

  --button-link: #21262d;
  --button-link-hover: #262b33;
  --button-link-active: #1f2229;
}

.light-mode {
  --bg-color: white;
  --bg-color--secondary: #f6f8faff;
  --border-color: #dae0e6ff;
  --blue-color: #3482f7;
  --font-color: black;

  --button-link: #f6f8faff;
  --button-link-hover: rgb(236, 238, 240);
  --button-link-active: rgb(230, 230, 230);
}

.detail h3 {
  font-size: 20px;
}

.detail ul {
  list-style-type: disc;
  list-style-position: inside;
}

p,
div,
label,
li,
h1,
h2,
h3,
h4 {
  color: var(--font-color);
}

.text-color {
  color: var(--font-color);
}
.bg-avatar {
  background: content-box
    radial-gradient(var(--bg-color) 40%, var(--bg-color--secondary));
}

.bg-secondary {
  background-color: var(--bg-color--secondary);
}

.menu-btn:hover {
  background-color: var(--bg-color--secondary);
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.border-color {
  border-color: var(--border-color);
}

.button__border-color {
  border-color: transparent;
}

.button__border-color:hover {
  border-color: var(--border-color);
}

.button-link-bg {
  background-color: var(--button-link);
}

.button-link-bg:hover {
  background-color: var(--button-link-hover);
}

.button-link-bg:active {
  background-color: var(--button-link-active);
}

.text-secondary {
  color: var(--font-color--secondary);
}

.text-blue {
  color: var(--blue-color);
}

body {
  background-color: var(--bg-color);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
  font-weight: lighter;
  font-display: swap;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

h1,
h2 {
  font-family: var(--font-roboto);
}

p,
label,
li {
  font-family: var(--font-lexend);
  font-weight: 300;
}

@layer components {
  .btn-primary {
    @apply flex items-center gap-2 rounded border-[1px] p-[2px] px-1  border-opacity-0  button__border-color;
  }

  .btn-link {
    @apply flex items-center w-full rounded-lg border-[1px] p-[6px] px-3 border-color  max-w-max button-link-bg text-color;
  }

  .btn-submit {
    @apply w-full rounded-lg border-[1px] p-[6px] px-3 border-color  button-link-bg text-color;
  }
}

.fade {
  animation: fade linear 0.2s;
}

.fade-out {
  opacity: 0;
  animation: fade-out ease-in-out 0.2s;
}
.fade-right--anime {
  animation: fade-right ease-in-out 0.15s;
}

.fade-left--anime {
  animation: fade-left ease-in-out 0.15s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
