@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lexend: "Lexend", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --bg-color: #0d1117;
  --bg-color--secondary: #010409;
  --border-color: #30363d;
  --blue-color: #2276f5;
  --font-color--secondary: #e5e5e5;
}

.carousel::-webkit-scrollbar {
  background: transparent;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 15px;
}

.bg-secondary {
  background-color: var(--bg-color--secondary);
}
.bg-color {
  background-color: var(--bg-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.border-color {
  border-color: var(--border-color);
}

.text-secondary {
  color: var(--font-color--secondary);
}

.text-blue {
  color: var(--blue-color);
}

body {
  background-color: var(--bg-color);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
  font-weight: lighter;
  font-display: swap;
}

h1,
h2 {
  font-family: var(--font-roboto);
}

p,
label,
li {
  font-family: var(--font-lexend);
  font-weight: 300;
}

@layer components {
  .btn-primary {
    @apply flex items-center gap-2 rounded border-[1px] p-[2px] px-1 hover:border-solid border-white border-opacity-0  hover:border-opacity-[0.3];
  }
}
