<p>Une nouvelle demande de contact à été reçue</p>

<ul>
	<li>Nom :
		{{ data.name }}
	</li>

	<li>Email :
		{{ data.email }}
	</li>
	<li>
		<strong>Message</strong><br>
		{{ data.message | nl2br }}
	</li>
</ul>
